<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{candidate.name}}</mat-card-title>
        <mat-card-subtitle>{{candidate.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p> {{candidate.coverLetter}} </p>
    </mat-card-content>
    <mat-card-actions>
        <!-- <pdf-viewer [src]="candidate.resume.filedata" [render-text]="true" style="display: block;" (on-progress)="
        onProgress($event)">
        </pdf-viewer> -->
        <button mat-button (click)="onResume()">View Resume</button>
        <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>
