<form [formGroup]="registrationForm">

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input autocomplete="off" matInput placeholder="Enter name" formControlName="name" type="text" [ngClass]="{
                    'is-invalid': submitted && registrationForm.get('name').errors
                  }" />
            <mat-error *ngFor="let validation of registerFormValidator.name.nameValidationsMessages">
                <mat-error class="error-message" *ngIf="
                  registrationForm.get('name').hasError(validation.type) &&
                      (registrationForm.get('name').dirty ||
                      registrationForm.get('name').touched ||
                        submitted)
                    ">
                    {{ validation.message }}
                </mat-error>
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Email address</mat-label>
            <input autocomplete="'no'" matInput placeholder="Enter email address" formControlName="email"
                type="email" />
            <mat-error *ngFor="let validation of registerFormValidator.email.emailValidationsMessages">
                <mat-error class="error-message" *ngIf="
            registrationForm.get('email').hasError(validation.type) &&
          (registrationForm.get('email').dirty ||
          registrationForm.get('email').touched ||
            submitted)
        ">
                    {{ validation.message }}
                </mat-error>
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Web address</mat-label>
            <input autocomplete="'no'" matInput placeholder="Enter web address" formControlName="webAddress" />
            <mat-error *ngFor="let validation of registerFormValidator.webAddress.webAddressValidationsMessages">
                <mat-error class="error-message" *ngIf="
            registrationForm.get('webAddress').hasError(validation.type) &&
          (registrationForm.get('webAddress').dirty ||
          registrationForm.get('webAddress').touched ||
            submitted) ">
                    {{ validation.message }}
                </mat-error>
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Cover letter</mat-label>
            <input autocomplete="'no'" matInput placeholder="Enter cover letter" formControlName="coverLetter" />
            <mat-error *ngFor="let validation of registerFormValidator.coverLetter.coverLetterValidationsMessages">
                <mat-error class="error-message" *ngIf="
            registrationForm.get('coverLetter').hasError(validation.type) &&
          (registrationForm.get('coverLetter').dirty ||
          registrationForm.get('coverLetter').touched ||
            submitted)
        ">
                    {{ validation.message }}
                </mat-error>
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-label>Do you like?</mat-label>
        <mat-radio-group required formControlName="likeWorking" [ngClass]="{
      'is-invalid': submitted && registrationForm.get('likeWorking').errors
    }">
            <mat-radio-button value="true" [checked]="registrationForm.controls.likeWorking.value === true">Yes
            </mat-radio-button>
            <mat-radio-button value="false" [checked]="registrationForm.controls.likeWorking.value === false"
                class="ml-3">
                No
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <button class="btn-sm" type="submit" mat-flat-button color="accent" (click)="onLogin()">
        Go to Login
    </button>

    <button class="btn-sm" type="submit" [disabled]="!registrationForm.valid" mat-flat-button color="accent"
        (click)="onRegister()">
        Register
    </button>
</form>
