* {
    box-sizing: border-box;
  }


  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  .success-snackbar {
    background: greenyellow;
    color: white;
  }

  .error-snackbar {
    background: #d93025;
    color: white;
  }

  .checked {
    color: orange;
  }

  .stars {
    display: inline;
    float: right;
    padding-right: 2rem;
    padding-top: 0.4rem;
  }
