<mat-tab-group class="center">
    <mat-tab label="CANDIDATE">
        <ng-container *ngIf="showLogin">
            <app-login-form [userType]="'CANDIDATE'" (registerClicked)="isRegisterClicked($event)">
            </app-login-form>
        </ng-container>
        <ng-container *ngIf="showRegister">
            <app-register-form [userType]="'CANDIDATE'" (loginClicked)="isLoginClicked($event)">
            </app-register-form>
        </ng-container>
    </mat-tab>
    <mat-tab label="RECRUITER">
        <ng-container *ngIf="showLogin">
            <app-login-form [userType]="'RECRUITER'" (registerClicked)="isRegisterClicked($event)">
            </app-login-form>
        </ng-container>
        <ng-container *ngIf="showRegister">
            <app-register-form [userType]="'RECRUITER'" (loginClicked)="isLoginClicked($event)">
            </app-register-form>
        </ng-container>
    </mat-tab>
</mat-tab-group>
